---
import services from '../../data/Services'
---

<div 
    id="servicios"
    class="bg-blue p-5 rounded-xl shadow-xl">
    <h5 class="text-white text-xl font-semibold">Servicios & Soluciones</h5>
    {
        services.map( service => (
            <div class={service.css}>
                <div class="card-body">
                    <h6 class="card-title text-black">{service.title}</h6>
                    <p class="text-black">{service.description}</p>
                </div>
            </div>
        ))
    }
</div>