---

---

<h3 
    class="text-black text-center font-extrabold text-3xl p-5 mx-auto w-fit"
    style={{
        background: 'rgba(255, 227, 179, 0.8)',
        borderRadius: '16px',
        boxShadow: '0 4px 30px rgba(0, 0, 0, 0.1)',
        backdropFilter: 'blur(8.5px)',
        WebkitBackdropFilter: 'blur(8.5px)',
        border: '1px solid rgba(255, 227, 179, 0.08)'
      }}>
        Testimonios
</h3>


<div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 mx-20 my-10">
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Desde el año 2020 Mari se ha encargado de llevar las redes sociales de mi tienda de productos naturales</h3>
            <p class="my-4">Los resultados han sido siempre satisfactorios y más de lo esperado. Ella comprendió lo que quería transmitir con la marca y logra transmitirlo con claridad. La recomiendo."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center space-x-3">
            <img class="rounded-full w-9 h-9" src="/assets/img/Douglas.jpg" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left">
                <a href="https://www.linkedin.com/in/douglas-morales-analista-qa-7b016b20a/" class="hover:text-green">
                    <div>Douglas Morales</div>
                </a>
                <div class="text-sm text-gray-500 dark:text-gray-400">Analista de QA</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-tr-lg dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mariangeli transmite transparencia y conocimiento en marketing</h3>
            <p class="my-4">Me guió y proporcionó herramientas útiles para desarrollar y llevar a cabo mi propia estrategia de marketing digital, logrando asi, poder dar a conocer las soluciones que tengo para mi público objetivo. ¡Un abrazo!!"</p>
        </blockquote>
        <figcaption class="flex items-center justify-center space-x-3">
            <img class="rounded-full w-9 h-9" src="/assets/img/Sandy.jpg" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left">
                <a href="https://www.linkedin.com/in/sandy-escobar-osco-214384119/" class="hover:text-green">
                    <div>Sandy Escobar Osco</div>
                </a>
                <div class="text-sm text-gray-500 dark:text-gray-400">Gestor Comercial-SST</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-bl-lg md:border-b-0 md:border-r dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Intrépida me ayudó a conectar con mis clientes por medio de contenidos para mis redes sociales</h3>
            <p class="my-4">También me ayudó a conseguir más clientes optimizando mi presencia en Google maps. Su pasión por el marketing y vocación,  despertó mi interés por el marketing digital y ahora lo estoy estudiando. Gracias Mari.
                "</p>
        </blockquote>
        <figcaption class="flex items-center justify-center space-x-3">
            <img class="rounded-full w-9 h-9" src="/assets/img/Carolina.jpg" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left">
                <a href="https://www.linkedin.com/in/liceducacioncaroramayo/" class="hover:text-green">
                    <div>Carolina Ramayo</div>
                </a>
                <div class="text-sm text-gray-500 dark:text-gray-400">CEO de Coco Beauty Studio</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-br-lg dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Calidez y honestidad en su servicio</h3>
            <p class="my-4">Mariangeli me ayudó a potenciar mi marca personal a través de una planificación estruturada y teniendo muy claro cual era mi objetivo. Hoy en día trabajo con ella y es una excelente aliada."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center space-x-3">
            <img class="rounded-full w-9 h-9" src="/assets/img/manuel.jpg" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left">
                <a href="https://www.linkedin.com/in/de-leon-manuel-desarrollador-web/" class="hover:text-green">
                    <div>Manuel De León</div>
                </a>
                <div class="text-sm text-gray-500 dark:text-gray-400">Desarrollador Web</div>
            </div>
        </figcaption>    
    </figure>
</div>
