---

---

<div>
    <h3 class="text-black text-center xl:text-left text-4xl font-extrabold my-4">Sobre mí</h3>

    <img 
        src="/assets/img/intrepida.jpg" 
        alt="Intrépida Marketing"
        class="rounded-full h-72 w-72 mb-3 mx-auto xl:mx-0"
    >

    <div class="text-justify xl:text-left">
        <p class="mb-10 text-black text-lg font-semibold">
            Mi nombre es Mariangeli y soy bastante intrépida. 
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            He trabajado en distintos medios de comunicación y marketing desde hace más de 7 años.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            Me identifico como una emprendedora serial.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            He tenido más de 6 emprendimientos y he estado asociada a más de 15 proyectos autónomos exitosos.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold" id="contacto">
            Conozco de primera mano las angustias que genera no tener éxito con el negocio en el que invertirse tanto dinero y esfuerzo.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            Reforzar tu identidad y presencia digital es necesario para tener éxito y llegar al público que si está interesado en lo que ofreces.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            Me he dedicado a estudiar a fondo los problemas habituales de las marcas personales y start ups, para ofrecerte soluciones reales, significativas e inmediatas a tus complicaciones.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            El 99% de mis clientes incrementó sus interacciones, conversiones y resultados, en menos de 30 días. 
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            Y el otro 1% no existe.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            Trabajamos para que estés satisfecho con los resultados.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            Y para que ahorres tiempo y recursos que desperdicias al caminar sin estrategia ni rumbo fijo.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            Te ofrezco soluciones reales, amigables, medibles, alcanzables y adaptadas a tus necesidades.
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            ¿Estás listo para llevar tu negocio o marca al siguiente nivel?
        </p>
    
        <p class="text-black mb-3 text-lg my-4 font-semibold">
            No dudes en contactarme.
        </p>
    
    </div>

    
</div>