---
import Layout from '../layouts/Layout.astro';
import Header from '../components/React/Header';
import Card from '../components/Card.astro';
---

<Layout title="Intrépida Marketing">

	<Header />

	<main>

		

	</main>

</Layout>


