<!-- 344 -->

---
import Layout from '../layouts/Layout.astro';
import Header from '../components/React/Header';
import FisrtSection from '../components/Page-sections/1st-section/Fisrt-Section.astro';
---

<Layout title="Intrépida Marketing">

	<Header />

	<main>

		<FisrtSection />

	</main>

</Layout>


