<!-- 344 -->

---
import Layout from '../layouts/Layout.astro';
import Header from '../components/React/Header';
import FisrtSection from '../components/Page-sections/1st-section/Fisrt-Section.astro';
import SecondSection from '../components/Page-sections/2nd-section/Second-section.astro';
import ThirdSection from '../components/Page-sections/3rd-section/Third-section.astro';
import Testimonials from '../components/Page-sections/Testimonials/Testimonials.astro';

const title = "Intrépida Marketing - Soluciones para tu negocio online";
---

<Layout title={title}>

	<Header />

	<main>

		<FisrtSection />

		<SecondSection />

		<ThirdSection />

	</main>
	
	<section>
		
		<Testimonials />

	</section>

</Layout>


