---

---

<div class="card w-96 bg-white shadow-xl h-fit">
    <div class="card-body">
      <h5 class="card-title text-black">Misión</h5>
      <p class="text-black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim non exercitationem eum sit ea qui minima necessitatibus consequuntur nulla tempore natus autem aliquid fugiat debitis quo sapiente a, magni accusamus iure quos eos iusto maxime fugit! Nesciunt cum reiciendis eveniet, eos corporis iste! Explicabo facere quis sapiente ad? Facere ratione obcaecati iste veniam quam saepe, excepturi rerum similique libero earum!</p>
    </div>
  </div>