---
import Mission from "../../Mission/Mission.astro";
import Title from "../../React/Title";
import Services from "../../Services/Services.astro";
---

<section>

    <strong class="text-black bg-white rounded-xl text-xl italic p-5 mb-5 block mx-auto w-fit">Si quieres llevar tu negocio al lugar donde imaginaste que estarías hoy, estás en el lugar correcto.</strong>

    <h1 
        class="text-center text-4xl  md:text-5xl lg:text-6xl text-black font-extrabold leading-none tracking-tight w-fit mx-auto p-5 rotate-[-2deg]"
        style={{
            background: 'rgba(255, 193, 114, 0.6)',
            borderRadius: '16px',
            boxShadow: '0 4px 30px rgba(0, 0, 0, 0.1)',
            backdropFilter: 'blur(11.5px)',
            WebkitBackdropFilter: 'blur(11.5px)',
            border: '1px solid rgba(255, 193, 114, 0.08)'
          }}>
            Intrépida Marketing Solutions
    </h1>

    <div class="flex mx-20 my-10 justify-between relative">

        <Mission />

        <Title />

        <Services />

    </div>


</section>