---
import Mission from "../../Mission/Mission.astro";
import Title from "../../React/Title";
import Services from "../../Services/Services.astro";
---

<section>

    <h1 class="text-center text-3xl text-black">Intrépida Marketing Solutions</h1>

    <div class="flex mx-20 my-10 justify-between">

        <Mission />

        <Title />

        <Services />

    </div>


</section>