---
import Mission from "../../Mission/Mission.astro";
import Title from "../../React/Title/Title";
import Services from "../../Services/Services.astro";
---

<section>

    <strong class="text-black bg-white rounded-xl text-xl italic p-5 mb-5 block mx-auto w-fit">Si quieres llevar tu negocio al lugar donde imaginaste que estarías hoy, estás en el lugar correcto.</strong>

    <h1 
        class="text-center text-4xl  md:text-5xl lg:text-6xl text-black font-extrabold leading-none tracking-tight w-fit mx-auto p-5"
        style={{
            background: 'rgba(255, 193, 114, 0.6)',
            borderRadius: '16px',
            boxShadow: '0 4px 30px rgba(0, 0, 0, 0.1)',
            backdropFilter: 'blur(11.5px)',
            WebkitBackdropFilter: 'blur(11.5px)',
            border: '1px solid rgba(255, 193, 114, 0.08)'
          }}>
          <span class="underline underline-offset-3 decoration-8 decoration-blue">
            Intrépida
          </span>
             Marketing <br> Soluciones para tu negocio online
    </h1>

    <span class='text-center text-3xl text-black block mx-auto mt-5 p-5 bg-yellow w-fit rounded-lg'>Te ayudo a despejar todas estas dudas:</span>

    <div class="flex mx-20 mt-10 mb-36 justify-between relative">

        <Mission />

        <Title />

        <Services />

    </div>


</section>