---

---

<section>
    
    <h3 class="text-black text-4xl font-extrabold my-4">Historia</h3>

    <p class="mb-3 text-black first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-black first-letter:mr-3 first-letter:float-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quod. Distinctio autem, nulla placeat repellat vel fugiat quae amet perspiciatis deserunt, neque optio ipsa odio. Iusto corporis cupiditate magnam temporibus provident, ea alias, eos ipsam rerum quasi, doloribus officia voluptate reprehenderit deserunt cumque. Eum nisi, dolore quod, a porro sapiente voluptatibus facere nam unde libero quaerat similique ex. Voluptas doloremque magni totam culpa impedit debitis quaerat? Laudantium esse ducimus beatae! Illum iste voluptates eum. Quod fugit explicabo nesciunt excepturi, quo blanditiis esse officiis sint mollitia rerum asperiores placeat adipisci omnis aliquid at deleniti magnam voluptates. Maiores est dolor tempora magni?</p>

</section>