---
import CTA from "../CTA/CTA.astro";
---

<section>
    
    <h3 class="text-black text-4xl font-extrabold my-4">Historia</h3>

    <div>

        <p class="mb-3 text-black text-lg font-semibold first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-black first-letter:mr-3 first-letter:float-left">
            Una vez me reuní con un cliente que quería resolver un problema, comenzamos a hablar y ambos pudimos notar que eran varios. 
        </p>

        <br>

        <ol>
            <li class="mb-3 text-black text-lg font-semibold list-decimal list-inside">
                Quería vender sus pinturas pero no tenía tienda física
            </li>
            <li class="mb-3 text-black text-lg font-semibold list-decimal list-inside">
                Pensó venderlas por instagram pero no tenía seguidores y no sabía como hacer para conseguirlos
            </li>
            <li class="mb-3 text-black text-lg font-semibold list-decimal list-inside">
                Pensó vender por internet pero no sabía como, no tenía sitio web y tampoco tenía tiempo 
            </li>
        </ol>

        <p class="mb-3 text-black text-lg font-semibold">
            Empezamos a trabajar con lo que teníamos, el comenzó a pintar nuevos cuadros para tomarles fotografías con mejor resolución y yo le ofrecí las soluciones que el necesitaba para conectar con su audiencia, aportarle credibilidad pero sobretodo, poder vender. 
        </p>

        <p class="mb-3 text-black text-lg font-semibold">
            ¿Para qué te cuento todo esto? Para que sepas que es posible dar el paso sin tener todo listo. Que las excusas son para los cobartes y no para los intrépidos. Para que comprendas que pedir ayuda es de valientes y confiar en profesionales puede ahorrarte tiempo, recursos y dolores de cabeza.
        </p>

        <p class="mb-3 text-black text-lg font-semibold">
            Un árbol no conoce sus propios frutos, así que es preciso conocer el fruto de los árboles que estás plantando para saber si están listos para el mercado hambriento de ellos.
        </p>

        <div>

            <p class="mb-3 text-black text-lg font-semibold">
                Si ya sabes cuales son tus problemas en el mundo digital, no tienes tiempo y tienes recursos para contratar un profesional que te ayude a impulsar tu negocio al siguiente nivel, vas a conseguir un plan ideal para ti.
            </p>

            <CTA CTAtext="Call to Action"/>

        </div>

        <div>

            <p class="mb-3 text-black text-lg font-semibold">
                Si por el contrario, no sabes qué quieres hacer, qué debes hacer, cuales son tus problemas de identidad digital y marketing, puedes contactar una asesoría gratuita conmigo para aclarar tu panorama.
            </p>

            <CTA CTAtext="Call to Action"/>

        </div>

        <div>

            <p class="mb-3 text-black text-lg font-semibold">
                Si quieres saber más sobre como manejar tu propia estrategia de marketing digital, organizar tu contenido, atraer clientes y romperla en internet, puedes suscribirte aquí y descargar tu guía gratuita para comenzar a ser tu propio encargado de marketing.
            </p>

            <CTA CTAtext="Call to Action"/>

        </div>

        <div>

            <p class="mb-3 text-black text-lg font-semibold">
                Si no sabes cuales son tus problemas y quieres contratar mis servicios para que me haga cargo de todo y tú puedas recoger los frutos de tu siembra, escoge uno de los planes a continuacion.
            </p>

            <CTA CTAtext="Call to Action"/>

        </div>

        <p class="mb-3 text-black text-lg font-semibold">
            He creado un plan especial para ti, solo tienes que escoger el que mejor se adapte a tus preferencias. 
        </p>
        

    </div>

</section>