---
import InstagramIcon from "/assets/img/ig.svg"
import LinkedInIcon from "/assets/img/linkedin.svg"
import ThreadsIcon from "/assets/img/threads.svg"
---

<div class="flex">

    <a href="https://www.instagram.com/intrepidamarketing/" class="mx-2 h-10 w-10 p-1 hover:bg-white rounded-lg hover:scale-150 transition">
        <img src={InstagramIcon} alt="Icono de Instagram">
    </a>

    <a href="https://www.linkedin.com/company/intr%C3%A9pida-marketing-solutions/" class="mx-2 h-10 w-10 p-1 hover:bg-white rounded-lg hover:scale-150 transition">
        <img src={LinkedInIcon} alt="Icono de LinkedIn">
    </a>

    <a href="https://www.threads.net/@intrepidamarketing" class="mx-2 h-10 w-10 p-1 hover:bg-white rounded-lg hover:scale-150 transition">
        <img src={ThreadsIcon} alt="Icono de Threads">
    </a>
    
</div>